/*====breakpoints====*/
$tablet-width: 48em;
$desktop-width: 62em;
$smartphone-width: 20em;
/*====colors====*/
$white: white;
$black: black;
$error-color: red;
$secondary-color: #3700B3;
$third-color:  #6200EE;
$fourth-color: #03dac5;
$background-color: #F6F2FA;

$q-border: 2px solid #ddd;